/* general */

/* sidebar styling */
.sidebar {
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  text-align: center;
}

.sidebar-about h1 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
}

.sidebar-about p {
  font-size: 1rem;
}

.sidebar-nav-item i {
  padding: 0 0.25rem;
}


/* hyde overrides*/
@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    left: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}


/* index page */
.post {
  margin-bottom: 2rem;
}

.post-title {
  font-size: 1.25rem;
}

.post-date {
  font-size: 0.75rem;
}
